# Virtual environment
.venv/
venv/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Environment
.env

# PyCharm
.idea/

# macOS
.DS_Store

# Pytest
.pytest_cache/

# Playwright
playwright-report/
test-results/

# Allure
allure-results/
allure-report/